.card{
    width: 200px;
    background-color: #282c34;
    color: #ffff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    transform: translateY(20px);
    transition: 0.5s;
}

.card:hover{
    transform: translateY(0px);
    opacity: 1;
}